body {
    background-color: rgb(167, 131, 131);
}

.container {
    padding: 10px;
}

.backButton{
    display: flex;
    margin:15px auto;
    background-color: rgb(48, 130, 207);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.5rem;
    outline: none;
    cursor: pointer;
    border: 2px solid white;
    width: 90px;
}